@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), sans-serif;
}

@layer base {
  :root {
    --background: 257 20% 97%;
    --foreground: 275 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 275 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 275 71% 4%;
    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 60% 90%;
    --secondary-foreground: 140 30% 20%;
    --muted: 257 14% 91%;
    --muted-foreground: 257 9% 45%;
    --accent: 335 82% 61%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 13% 91%;
    --input: 257 13% 88%;
    --ring: 25 95% 53%;
    --chart-1: 25 95% 53%;
    --chart-2: 335 80% 60%;
    --chart-3: 160 95% 53%;
    --chart-4: 276 70% 70%;
    --chart-5: 275 60% 80%;
    --radius: 0.5rem;
    --sidebar-background: 25 95% 53%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 25 95% 53%;
    --sidebar-accent: 25 95% 63%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 25 95% 43%;
    --sidebar-ring: 0 0% 100%;
  }
  .dark {
    --background: 257 20% 11%;
    --foreground: 0 0% 98%;
    --card: 257 20% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 257 20% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 25 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 60% 20%;
    --secondary-foreground: 140 60% 90%;
    --muted: 257 20% 20%;
    --muted-foreground: 257 10% 60%;
    --accent: 257 20% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 20% 20%;
    --input: 257 20% 25%;
    --ring: 25 95% 53%;
    --chart-1: 25 95% 53%;
    --chart-2: 335 80% 60%;
    --chart-3: 160 95% 53%;
    --chart-4: 276 70% 70%;
    --chart-5: 275 60% 80%;
    --radius: 0.5rem;
    --sidebar-background: 25 95% 53%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 25 95% 53%;
    --sidebar-accent: 25 95% 63%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 25 95% 43%;
    --sidebar-ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
