
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isSelf(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /tenants/{tenantId} {
      allow create: if isSelf(tenantId) && request.resource.data.members[request.auth.uid] == 'owner';
      allow get: if get(/databases/$(database)/documents/tenants/$(tenantId)).data.members[request.auth.uid] == 'owner';
    }

    match /user_profile/{userId} {
      // A user can read their own profile.
      allow get: if isSelf(userId);
      
      // A user can create their own profile.
      allow create: if isSelf(userId);
      
      // A user can update their own profile.
      allow update: if isSelf(userId);

      // Disallow deleting profiles for now to prevent accidental data loss.
      allow delete: if false;
    }
  }
}

    